<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <form action="/addOne" method="post" enctype="multipart/form-data">
        <p>Photo : <input type="file" name="photo"></p>
        <p>Title : <input type="text" name="title" autofocus></p>
        <p>Stock : <input type="text" name="stock"></p>
        <p>Normal Price : <input type="text" name="normal"></p>
        <p>Discounted Price : <input type="text" name="discount"></p>
        <p>Expiration Date : <input type="date" name="date"></p>
        <p><button>Upload</button></p>
    </form>

    <a href="/marketpage">Back to main page</a>
</body>
</html>