<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <div class="edit">
        <h1>Profile Information</h1>
        <form action="/edit-user" method="post">
           <label>
               <p>Name: </p><input type="text" name="name" value="<%=user.name %>" required>
           </label>

           <label>
               <p>City: </p><input type="text" name="city" value="<%=user.city %>" required>
           </label>
    
           <label>
               <p>District: </p><input type="text" name="district" value="<%=user.district %>" required>   
           </label>
           <%if(success!=null){%>
                <p><%=success%></p>
            <%}%>
            <button type="submit">Edit</button>
        </form>
        </div>

    <a style=" display: block;margin: 0px auto; width: fit-content;" href="/consumerpage">Back to Consumer Page</a>


</body>
</html>