<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="usertype">
            <a href="/userLogin">Consumer User Login</a>
            <a href="/marketLogin">Market User Login</a>
        </div>
       
        <% if(type == "consumer"){%>
            <form action="/login" method="post">
                <p>CONSUMER</p>

                <label>
                    Email:
                    <input type="text" name="email" id="">
                </label>


                <button type="submit">Login</button>
            </form>
        <%}else{%>
           <form action="/login" method="post">
                <p>MARKET</p>
                <label>
                    Email:
                    <input type="text" name="email" id="">
                </label>
                
                <label>
                    Password:
                    <input type="password" name="password" id="" autocomplete="off">
                </label>
                
                <button type="submit">Login</button>
            </form>
        <%}%>    
        <div>
            <p>If you do not have an account <a class="signup" href="/signup">SIGN UP</a> here</p>
        </div>
        <%if(msg){%>
            <p><%=msg%></p>
        <%}%>
    </div>
</body>
</html>