<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signin.css">
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <% if(type == "consumer"){%>
            <form action="/signup" method="post">
                <p>CONSUMER SIGN UP</p>

                <label>
                    Email:
                    <input type="text" name="email" id="" required>
                </label>
                <label>
                    Full Name:
                    <input type="text" name="fullname" id="" required>
                </label>
                <label>
                    City:
                    <input type="text" name="city" id="" required>
                </label>
                <label>
                    District:
                    <input type="text" name="district" id="" required>
                </label>


                <button type="submit">Sign Up</button>
            </form>
        <%}else{%>
           <form action="/signup" method="post">
                <p>MARKET USER SIGN UP</p>

                <label>
                    Email:
                    <input type="text" name="email" id="" required>
                </label>
                 <label>
                    Password:
                    <input type="password" name="password" id="" autocomplete="off" required >
                </label>
                <label>
                    Market Name:
                    <input type="text" name="market" id="" required>
                </label>
               
                <label>
                    City:
                    <input type="text" name="city" id="" required>
                </label>
                <label>
                    District:
                    <input type="text" name="district" id="" required>
                </label>


                <button type="submit">Sign Up</button>
            </form>
        <%}%>
        <div>
            <p>Already have an account <a class="signup" href="/">SIGN IN</a> here</p>
        </div>
        <% if (msg) { %>
            <p class="msg <%= msg.type %>"><%= msg.text %></p>
        <% } %>
    </div>
</body>
</html>