<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signin.css">
    <title>Sign In</title>
</head>
<body>
    <img src="/img/logo.png" alt="">
    <div class="container">
        <div class="usertype">
            <a href="/user-signin">Consumer User Sign In</a>
            <a href="/market-signin">Market User Sign In</a>
        </div>
       
        <% if(type == "consumer"){%>
            <form action="/signin" method="post">
                <p>CONSUMER</p>

                <label>
                    Email:
                    <input type="text" name="email" id="">
                </label>


                <button type="submit">Sign In</button>
            </form>
        <%}else{%>
           <form action="/signin" method="post">
                <p>MARKET</p>
                <label>
                    Email:
                    <input type="text" name="email" id="">
                </label>
                
                <label>
                    Password:
                    <input type="password" name="password" id="" autocomplete="off">
                </label>
                
                <button type="submit">Sign In</button>
            </form>
        <%}%>    
        <div>
            <p>If you do not have an account <a class="signup" href="/signup">SIGN UP</a> here</p>
        </div>
        <% if (msg) { %>
            <p class="msg <%= msg.type %>"><%= msg.text %></p>
        <% } %>
    </div>

    
</body>
</html>