@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {box-sizing: border-box;margin: 0px;font-family: "Cantarell", sans-serif;}

.container{display: flex; flex-direction: column; 
    align-items: center; justify-content: center; padding: 20px;
    margin: 20px auto; max-width: 500px;
    border: 1px solid grey; border-radius: 12px; background: rgb(181, 181, 181); }
.usertype{display: flex;   justify-content: space-between; width: 300px; margin-bottom: 30px;}
a{text-decoration: none; color: green; border: 1px solid grey; padding: 4px; border-radius: 12px;}
form{display: flex; flex-direction: column; gap: 10px; margin-bottom: 15px;}
label{display: flex; justify-content: space-between; gap:5px}
.msg{margin-top: 14px; color: red;}